
:root {
    --primary : rgb(235, 0, 0) ;
    --secondary : rgb(235, 133, 0) ;
    --black : rgb(75, 75, 75) ;
}
::selection {
    background-color: var(--secondary);
    color: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.container {
    max-width: 1200px;
    margin: auto;
    /* background-color: rgb(131, 131, 131); */
}
/* --------------------start heading------------- */
.heading{
    background-color: var(--primary);  
}
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
/* --------------------end heading------------- */
/* -------------------form--------------------- */
form {
    margin: auto;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    text-align: center; 
}
form input {
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 0.1px solid var(--primary);
    padding: 10px;
}
form input:focus{
    outline: var(--primary) solid 0.1px;
    border: 0;
}
form button {
    background-color: var(--primary);
    color: aliceblue;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid var(--primary);
    cursor: pointer;
}
/* -------------------form--------------------- */
/* ------------------------------------------------ */
.task {
    margin: auto;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    text-align: center; 
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.icon {
    display: flex;
    justify-content: space-between;
}
.task span i{
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--black);
    text-align: center;
}
p{
    width: 100%;
    padding: 20px 0 20px 0;
}
/* ----------------------------------------------------- */
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 766px) { 
    .task {
        width: 90%;
    }
    form input  {
        width: 90%;
    }
}
.icon .heart{
    color: var(--primary);
}
.done {
    text-decoration: line-through;
}

.icon .yellowStar {
    color: var(--secondary);
}


.hidden {
    display: none;
}

#error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
